MySettings(
  input_delay_ticks: 2,
  correction_ticks_factor: 1.5,
  predict_all: true,
  show_confirmed: false,
  common: Settings(
    client: ClientSettings(
            client_id: 0,
            client_port: 0, // the OS will assign a random open port
            server_addr: "127.0.0.1",
            server_port: 38000,
            transport: Udp,
            // server_port: 5003,
            // transport: Steam(
            //     app_id: 480,
            // )
            // conditioner: Some(Conditioner(
            //     latency_ms: 60,
            //     jitter_ms: 0,
            //     packet_loss: 0
            // )),
        ),
        server: ServerSettings(
            headless: true,
            conditioner: None,
            transport: [
                Udp(
                    local_port: 38000
                ),
                // Steam(
                //     app_id: 480,
                //     server_ip: "0.0.0.0",
                //     game_port: 5003,
                //     query_port: 27016,
                // ),
            ],
        ),
        shared: SharedSettings(
            protocol_id: 0,
            private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            compression: None,
        )
    )
)